@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400;600;700&display=swap');

:root {
  --ff-primary: 'Public Sans', sans-serif;
  --fs-200: 0.675rem;
  --fs-300: 0.875rem;
  --fs-400: 1rem;
  --fs-500: clamp(1rem, 1.5vw, 1.125rem);
  --fs-600: 1.25rem;
  --fs-700: clamp(1.375rem, 3vw, 1.5rem);
  --fs-800: clamp(1.875rem, 5vw, 2.5rem);
  --fs-900: clamp(2.5rem, 4.5vw, 3.375rem);

  /* PRIMARY */
  --c-lime-green-400: hsl(136, 65%, 51%);
  --c-cyan-400: hsl(192, 70%, 51%);
  --c-blue-900: hsl(233, 26%, 24%);

  /* GRADIENT */
  --c-gradient-100: linear-gradient(to right, hsl(136, 65%, 51%), hsl(192, 70%, 51%));
  --c-gradient-200: linear-gradient(to right, hsl(192, 70%, 51%), hsl(136, 65%, 51%), hsl(192, 70%, 51%));

  /* NEUTRAL */
  --c-neutral-50: #fafafa;
  --c-neutral-100: #f5f5f5;
  --c-neutral-200: #eeeeee;
  --c-neutral-300: #e0e0e0;
  --c-neutral-400: #bdbdbd;
  --c-neutral-500: #9e9e9e;
  --c-neutral-600: #757575;
  --c-neutral-700: #616161;
  --c-neutral-800: #424242;
  --c-neutral-900: #212121;

  --c-white: #fff;
  --c-black: #000;
}